*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.log
/app/*.log
/reinforce/jiagu.db
/app/jiagu-apk1.gradle
/app/pack-release.gradle
